#mainContainter{
    /*background-color: blue;*/
    display: flex;
    flex-direction: row;
    height: 100px;
    border: 1px solid 5px;
    box-sizing: border-box;

}


#nextDay{
    /*background-color: orange;*/
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



.currentDay{
    /*background-color: red;*/
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.currentDay p{
    margin: 0px;
    font-weight:bolder;
    color: white;
}

#prevDay{
    /*background-color: seagreen;*/
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    border : none;
}
