#mainContainter{
    display: flex;
    flex-direction: row;
    height: 100px;
    border: 1px solid 5px;
    box-sizing: border-box;

}

#nextDay{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.currentDay{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.currentDay p{
    margin: 0px;
    font-weight:bolder;
    color: white;
}

#prevDay{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

