#Outerbox_row{
    background-color: #54906c
}
.main{
    background-color: #54906c
}
.col{
    background:#39694d;
    margin: 1rem;
    color: white;
}
h1 {
    display: flex;
    background-color: #39694d;
    flex-direction: row;
    color: white;
}
h1:before, h1:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}
h1:before {
    margin-right: 10px
}
h1:after {
    margin-left: 10px
}