#main_row{
    background-color: #388e3c;

  
}
.mainHoursContainer{
    background-color: #388e3c;
    
}

/*custom height column*/
.hoursCol{
    background: #1b5e20;
    margin: 1rem;
    color: white;
}

.rowHours, .rowTemperature{
    height: 20%;

}

.rowPic{
    height: 60%;
    
}
h1 {
    display: flex;
    background-color:#388e3c;
    flex-direction: row;
    color: white;
}
h1:before, h1:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}
h1:before {
    margin-right: 10px
}
h1:after {
    margin-left: 10px
}