
#main_row::-webkit-scrollbar{
    display: none;
}
/*Remove scrollbar for IE, EDGE , firefox*/
#main_row{
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.mainHoursContainer{
    background-color:#54906c;   
}

/*custom height column*/
.hoursCol{
    background:#39694d;
    margin: 1rem;
    color: white;
    backdrop-filter: blur(10px);
    padding: 0px 100px;  
}

.rowHours, .rowTemperature{
    height: 20%;
}

.rowHours{
    margin-top: 5px;
    font-size: 1.2rem;
}

.main-row{
    filter: blur(4px);
    position: absolute;
    width: 100%;
    height: 100%;
}

.rowPic{
    height: 60%;
    

}
h1 {
    display: flex;
    background-color: #54906c;
    flex-direction: row;
    color: white;
}

h1:before, h1:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

h1:before {
    margin-right: 10px
}

h1:after {
    margin-left: 10px
}

div[class ="col"] {
    border: 1px dotted black;
}
