#main_row{
    background-color:#54906c;

  
}
.mainHoursContainer{
    background-color:#54906c;
    
}

/*custom height column*/
.hoursCol{
    background:#39694d;
    margin: 1rem;
    color: white;
    backdrop-filter: blur(10px);
}

.rowHours, .rowTemperature{
    height: 20%;

}

.main-row{
    filter: blur(4px);
    position: absolute;
    width: 100%;
    height: 100%;
}
.rowPic{
    height: 60%;
    
}
h1 {
    display: flex;
    background-color: #54906c;
    flex-direction: row;
    color: white;
}
h1:before, h1:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}
h1:before {
    margin-right: 10px
}
h1:after {
    margin-left: 10px
}