.navbar.navbar-light .breadcrumb .nav-item .nav-link, .navbar.navbar-light .navbar-nav .nav-item .nav-link {
	color: white;
	transition: .35s;
}

.body {
	width: 100vw;
}

.searchBar {
	position: relative;
	width: 100%;

}

.primary-color{
	color: white !important;
}